// RESET 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  all: unset;
}

// BASE STYLES
.page {
  font-family: 'Inter', sans-serif;
  background-color: #e1e8eb;

  display: flex;
  flex-direction: column;
  align-items: center;
}

// STYLES
.background {
  position: absolute;
  top: 0;
  z-index: -1;
  min-height: 15.875rem;
  width: 100%;
  background-image: linear-gradient(
    to right, 
    rgba(101, 0, 163, 0.9), 
    rgba(24, 120, 175, 0.9)
    ),
    url('https://images.unsplash.com/photo-1546453667-8a8d2d07bc20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=100');
}

.first-heading {
  font-size: 4.0625rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.92);
  margin-top: 4.6875rem;

  &--special {
    font-weight: 300;
  }
}

.app {
  width: 100%;
  max-width: 65.625rem;
  min-height: 32.5rem;
  background-color: white;
  border-radius: .625rem;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.1);
  margin-top: 3.4375rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

  .textarea {
    resize: none;
    font: inherit;
    padding: 1.875rem 2.5rem;
    font-size: 1.375rem;

    grid-column: 1 / 2;
    grid-row: 1 / -1;

    &::placeholder {
      font-weight: 500;
      color: #959c9f;
    }
  }

.stat {
  background-color: #f1f6f8;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--words {
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.08);
    
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &--characters {
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.08);
    border-left: .0625rem solid rgba(0, 0, 0, 0.08);

    grid-column: 3 / -1;
    grid-row: 1 / 2;
  }

  &--twitter {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
  }

  &--facebook {
    border-left: .0625rem solid rgba(0, 0, 0, 0.08);

    grid-column: 3 / -1;
    grid-row: 2 / -1;
  }

    &__number {
      color: #4d5457;
      font-weight: 600;
      font-size: 2.1875rem;
      margin-bottom: .625rem;

      &--limit {
        color: red;
      }

      &--words {
      
      }

      &--characters {
      
      }

      &--twitter {
        
      }

      &--facebook {

      }
    }

    &__type {
      font-size: .875rem;
      text-transform: uppercase;
      letter-spacing: .125em;
      font-weight: 500;
      color: #747a7c;
    }
}

.footer {
  width: 100%;
  max-width: 65.625rem;
  margin: .9375rem 0;
  opacity: 0.4;
  
  display: flex;
  justify-content: space-between;
}

  .copyright {

  }

  .update {

  }

// MEDIA QUERIES
@media (max-width: 71.875rem) {
  .app {
    max-width: 85vw;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-auto-flow: row;
  }

  .first-heading {
    font-size: 7vw;
  }

  .textarea {
    grid-column: 1 / -1;
  }

  .stat {
    border: none;
    padding: .9375rem .625rem;

    &--words {
      grid-column: 1 / 2;
      grid-row: 2 / -1;
    }
  
    &--characters {
      grid-column: 2 / 3;
      grid-row: 2 / -1;
    }
  
    &--twitter {
      grid-column: 3 / 4;
      grid-row: 2 / -1;
    }
  
    &--facebook {
      grid-column: 4 / -1;
      grid-row: 2 / -1;
    }

      &__number {
        font-size: 1.25rem;
      }
  }

  .footer {
    width: initial;
    flex-direction: column;
    align-items: center;
    gap: .3125rem;
  }
}